pom.xml.*
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
# https://github.com/takari/maven-wrapper#usage-without-binary-jar
.mvn/wrapper/maven-wrapper.jar

# Maven #
/target/

# Eclipse #
/.classpath
/.project
/.settings/

# IntelliJ #
/*.iml
/.idea/

samples/
