Curtis Rueden <ctrueden@wisc.edu>
Deborah Schmidt <frauzufall@mpi-cbg.de>
Jean-Yves Tinevez <tinevez@pasteur.fr>
Jean-Yves Tinevez <tinevez@pasteur.fr> <jean-yves.tinevez@pasteur.fr>
Jean-Yves Tinevez <tinevez@pasteur.fr> <jeanyves.tinevez@gmail.com>
Kyle Harrington <kephale@kyleharrington.com>
Kyle Harrington <kephale@kyleharrington.com> <kephale@users.noreply.github.com>
Kyle Harrington <kephale@kyleharrington.com> <kharrington@uidaho.edu>
Kyle Harrington <kephale@kyleharrington.com> <kyle.i.s.harrington@gmail.com>
Kyle Harrington <kephale@kyleharrington.com> <mdc@kyleharrington.com>
Tobias Pietzsch <tobias.pietzsch@gmail.com>
